*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html, body, ul, ol, li, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Figtree--black";
  src: url(../fonts/Figtree-Black.ttf);
}
@font-face {
  font-family: "Figtree--regular";
  src: url(../fonts/Figtree-Regular.ttf);
}
body {
  background-color: #000000;
  color: #ffffff;
}

.bdw-c-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.bdw-c-header .bdw-c-event_date_container {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.bdw-c-header .bdw-c-event_date_container .bdw-c-arrow-right, .bdw-c-header .bdw-c-event_date_container .bdw-c-arrow-left {
  display: flex;
  align-items: center;
}
.bdw-c-header .bdw-c-event_date_container .bdw-c-event_date {
  font-family: "Figtree--black";
  font-size: 24px;
}
.bdw-c-header .bdw-c-language_choice {
  font-family: "Figtree--regular";
}

.bdw-c-main {
  overflow: hidden;
}
.bdw-c-main .bdw-c-title {
  grid-column: 1/-1;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Figtree--black";
  font-size: 10vw;
  text-wrap: nowrap;
  line-height: 1em;
  text-transform: uppercase;
}
.bdw-c-main .bdw-c-title .bdw-l-span:last-child {
  transform: translateX(-0.5rem);
}
.bdw-c-main .bdw-c-category {
  padding: 1rem;
  padding-bottom: 4rem;
}
.bdw-c-main .bdw-c-category__name {
  margin-bottom: 0.5em;
  font-family: "Figtree--black";
  font-size: 24px;
}
.bdw-c-main .bdw-c-category__description {
  font-family: "Figtree--regular";
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
  text-indent: 2em;
}
.bdw-c-main .bdw-c-social_media {
  display: flex;
}
.bdw-c-main .bdw-c-social_media__content {
  gap: 2rem;
  flex: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bdw-c-main .bdw-c-social_media__content .bdw-c-register {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: "Figtree--regular";
  font-size: 14px;
  color: #000000;
}
.bdw-c-main .bdw-c-social_media__content .bdw-c-social_media_links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: "Figtree--regular";
}
.bdw-c-main .bdw-c-social_media__content .bdw-c-social_media_links ul a {
  text-decoration: underline;
}
.bdw-c-main .bdw-c-social_media__graphic {
  position: relative;
  flex: 1;
  padding: 0.5rem;
}
.bdw-c-main .bdw-c-social_media__graphic .bdw-l-image_container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bdw-c-main .bdw-c-social_media__graphic .bdw-l-image_container img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}
.bdw-c-main .bdw-c-partners {
  padding: 1rem;
}
.bdw-c-main .bdw-c-partners .bdw-c-parters_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bdw-c-main .bdw-c-partners .bdw-c-parters_container .bdw-c-partner_logo_container {
  margin: 15px;
}
.bdw-c-main .bdw-c-partners .bdw-c-parters_container .bdw-c-partner_logo_container .bdw-c-partner_logo {
  height: 65px;
}
.bdw-c-main .bdw-c-partners .bdw-c-partners_label {
  margin: 1em 0 1em 1em;
  font-family: "Figtree--regular";
  font-size: 18px;
}

.bdw-l-grid {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, auto));
  background-color: #ffffff;
  gap: 2px;
  border-top: 2px solid #ffffff;
}
.bdw-l-grid__item {
  position: relative;
  background-color: #000000;
}
.bdw-l-grid__item .bdw-c-grid_title {
  margin-bottom: 0.5em;
  font-family: "Figtree--black";
  font-size: 24px;
}
.bdw-l-grid .bdw-l-grid_span {
  grid-column: span 2;
}

@media only screen and (max-width: 1100px) and (min-width: 560px) {
  .bdw-l-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto repeat(4, minmax(0, 1fr));
  }
  .bdw-c-social_media__graphic img {
    width: auto !important;
    height: 100%;
  }
}
@media only screen and (max-width: 560px) {
  .bdw-l-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto repeat(6, minmax(0, auto));
  }
  .bdw-l-grid .bdw-l-grid_span {
    grid-column: span 1;
  }
  .bdw-c-social_media__graphic {
    display: none;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../src/scss/_base.scss%22,%22../../src/scss/fonts.scss%22,%22../../src/scss/main.scss%22,%22../../src/scss/_variables.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;;;AAGJ;EACA;;;AAGA;EACA;EACA;;;AAGA;EACI;EACA;;;ACfJ;EACI;EACA;;AAGJ;EACI;EACA;;ACHJ;EACI,kBCJc;EDKd,OCJc;;;ADOlB;EACI;EACA;EACA;EACA;EAEA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI,aCrBa;EDsBb,WCjBO;;ADqBf;EACI,aC1BmB;;;AD8B3B;EAEI;;AAEA;EACI;EACA;EAEA;EACA;EACA;EAEA,aC3CiB;ED4CjB;EACA;EACA;EACA;;AAGA;EACI;;AAKR;EACI;EACA;;AAEA;EACI;EAEA,aC/Da;EDgEb,WC3DO;;AD8DX;EACI,aCnEe;EDoEf,WCjEO;EDkEP;EACA;EACA;;AAIR;EACI;;AAEA;EACI;EACA;EACA;EAEA;EACA;EACA;;AAEA;EACI;EACA;EAEA;EACA;EACA;EAEA,kBCrGE;EDuGF,aCjGW;EDkGX,WChGG;EDiGH,OC1GE;;AD8GF;EACI;EACA;EAEA;EACA,aC5GO;;AD8GP;EACI;;AAOhB;EACI;EAEA;EACA;;AAEA;EACI;EACA;EAEA;EACA;EACA;EAEA;;AAEA;EACI;EACA;EACA;;AAMhB;EACI;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;AACA;EACI;;AAKZ;EACI;EAEA,aClKe;EDmKf,WChKO;;;ADqKnB;EACI;EAEA;EACA;EACA;EAGA,kBCtLc;EDuLd;EACA;;AAEA;EACI;EACA,kBC7LU;;AD+LV;EACI;EAEA,aC5La;ED6Lb;;AAIR;EACI;;;AAIR;EACI;IACI;IACA;;EAKI;IACI;IACA;;;AAMhB;EACI;IAEI;IACA;;EAEA;IACI;;EAKJ;IACI%22,%22file%22:%22main.css%22%7D */
