$bdw-color-charcoal: #141313;
$bdw-color-black: #000000;
$bdw-color-white: #ffffff;

$bdw-color-dark: $bdw-color-black;
$bdw-color-light: $bdw-color-white;

$bdw-font-family--title: "Figtree--black";
$bdw-font-family--content: "Figtree--regular";