@use "./base";
@use "./fonts.scss";
@use "./variables" as v;

body {
    background-color: v.$bdw-color-dark;
    color: v.$bdw-color-light;
}

.bdw-c-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    .bdw-c-event_date_container {
        display: flex;
        gap: 1em;
        justify-content: center;

        .bdw-c-arrow-right, .bdw-c-arrow-left {
            display: flex;
            align-items: center;
        }

        .bdw-c-event_date {
            font-family: v.$bdw-font-family--title;
            font-size: v.$bdw-font-size--l;
        }
    }

    .bdw-c-language_choice {
        font-family: v.$bdw-font-family--content;
    }
}

.bdw-c-main {

    overflow: hidden;

    .bdw-c-title {
        grid-column: 1/-1;
        padding: 0 0.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: v.$bdw-font-family--title;
        font-size: 10vw;
        text-wrap: nowrap;
        line-height: 1em;
        text-transform: uppercase;


        .bdw-l-span:last-child {
            transform: translateX(-0.5rem);
        }

    }

    .bdw-c-category {
        padding: 1rem;
        
        &__name {
            margin-bottom: 0.5em;

            font-family: v.$bdw-font-family--title;
            font-size: v.$bdw-font-size--l;
        }

        &__description {
            font-family: v.$bdw-font-family--content;
            font-size: v.$bdw-font-size--m;
            line-height: 1.5em;
            text-align: justify;
            text-indent:2em;
        }
    }

    .bdw-c-social_media {
        display: flex;

        &__content {
            flex: 2;
            padding: 1rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bdw-c-register {
                width: 100%;
                height: 3em;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: v.$bdw-color-light;

                font-family: v.$bdw-font-family--content;
                font-size: v.$bdw-font-size--s;
                color: v.$bdw-color-dark;
            }

            .bdw-c-social_media_links {
                ul {
                    display: flex;
                    justify-content: space-between;

                    list-style: none;
                    font-family: v.$bdw-font-family--content;

                    a {
                        text-decoration: underline;
                    }
                }
            }

        }

        &__graphic {
            position: relative;

            flex: 1;
            padding: 0.5rem;
            
            .bdw-l-image_container {
                position: relative;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                overflow: hidden;

                img {
                    position: absolute;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .bdw-c-partners {
        padding: 1rem; 

        .bdw-c-parters_container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .bdw-c-partner_logo_container {
                margin: 15px;
                .bdw-c-partner_logo {
                    height: 45px;
                }
            }
        }

        .bdw-c-partners_label {
            margin: 1em 0 1em 1em;

            font-family: v.$bdw-font-family--content;
            font-size: v.$bdw-font-size--m;
        }
    }
}

.bdw-l-grid {
    min-height: 90vh;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto repeat(2, minmax(0, 1fr));

    // Border implementations, quite genius
    background-color: v.$bdw-color-light;
    gap: 2px;
    border-top: 2px solid v.$bdw-color-light;

    &__item {
        position: relative;
        background-color: v.$bdw-color-dark;
        
        .bdw-c-grid_title {
            margin-bottom: 0.5em;

            font-family: v.$bdw-font-family--title;
            font-size: 24px;
        }
    }

    .bdw-l-grid_span {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 560px) {
    .bdw-l-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: auto repeat(4, minmax(0, 1fr));
    }

    .bdw-c-social_media {
        &__graphic {
            img {
                width: auto !important;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    .bdw-l-grid {

        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: auto repeat(6, minmax(0, 1fr));

        .bdw-l-grid_span {
            grid-column: span 1;
        }
    }

    .bdw-c-social_media {
        &__graphic {
            display: none;
        }
    }
}

